*.suo
*.user
Properties/
publish/
.vs/
.vscode/
.idea/
_ReSharper*/
*.[Rr]e[Ss]harper
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/
[Tt]emp/
[Oo]utput/
[Rr]eports/
[Bb]uild/_tests/
TestResults/
packages/
Desktop.ini
Thumbs.db
.DS_Store
